body {
  text-align: center;
  box-sizing: border-box;
}
/* Styles #MainSVG(SVG Tag) element */
#MainSVG {
  margin: 1rem;
  height: 60vh;
  width: max-content;
  border: 5px solid #212121;
  padding: 1rem;
}
/* Moves The Tap and Water Vertically */
#tapAndWater {
  transform: translateY(100px);
}
/* Runs "WaterAnimation" Animation in #Water( water) Inifinite times*/
/* And finally Move Water from the tap behind the glass of water */
#Water {
  transform: translateY(-83px);
  animation: WaterAnimation 2s linear infinite;
}

@keyframes WaterAnimation {
  from {
    trandfrom: translateY(0);
  }
  to {
    /* Hides the water behind the glass of water*/
    transform: translateY(200px);
  }
}
